## ignore all files and folders except the selected few.
*

##
!.gitignore
!LICENSE
!custom-config.el
!early-init.el
!init.el
!lisp
!snippets



##
!lisp/*
!lisp/conf/*
lisp/conf/*~
!lisp/iduh/*

## custom snippets
!snippets/*/
!snippets/*/*

## regular ignore inside ignored directories
*~
\#*\#
*.elc
.\#*
